<div class="container">
  <div class="offset-md-4 col-md-4">
    <form>
      <div class="form-group">
        <label for="email">Username</label>
        <div class="d-flex">
          <div class="d-inline-flex">
            <i class="fa fa-user form-control"></i>
          </div>
          <div style="width: 100%">
            <input id="email" type="email" name="email" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="d-flex">
          <div class="d-inline-flex">
            <i class="fa fa-key form-control"></i>
          </div>
          <div style="width: 100%">
            <input id="password" type="password" name="password" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <a routerLink="../register">Forgot password?</a>
      </div>
      <div class="form-group d-flex justify-content-between">
        <button type="submit" class="btn btn-outline" routerLink="../register">Register</button>
        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Login</button>
      </div>
    </form>
  </div>
</div>
