<div class="container" style="display:flex;width: 100vw;height: 100vh;">
  <div class="offset-md-4 col-md-4" style="align-self: center">
    <form (ngSubmit)="register()">
      <div class="form-group text-center">
        <label class="h1">Register</label>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="d-flex">
          <div class="d-inline-flex">
            <i class="fa fa-user form-control"></i>
          </div>
          <div style="width: 100%">
            <input id="email" type="email" name="email" class="form-control" [(ngModel)]="credentials.email" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="d-flex">
          <div class="d-inline-flex">
            <i class="fa fa-key form-control"></i>
          </div>
          <div style="width: 100%">
            <input id="password" type="password" name="password" class="form-control" [(ngModel)]="credentials.password"
                   required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password2">Retype Password</label>
        <div class="d-flex">
          <div class="d-inline-flex">
            <i class="fa fa-key form-control"></i>
          </div>
          <div style="width: 100%">
            <input id="password2" type="password" name="password2" class="form-control" [(ngModel)]="credentials.password2" required>
          </div>
        </div>
      </div>
      <div class="form-group d-flex align-items-end">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</div>
